<ion-popover-view class="popover-left">
    <ion-header-bar> <h1 class="title">New Request</h1> </ion-header-bar>
    <ion-content>
        <div id="offer-popover" class="list">
            <!-- <ul class="list">
                <li class="item">
                    <span class="ion-ios-location icon-loc"></span>
                    <span>KE, Kent Ridge Road, Singapore 119225</span>
                </li>
                <li class="item">
                    <span class="ion-ios-clock-outline icon-time"></span>
                    <span>11:20AM</span>
                </li>
                <li class="item">
                    <span>Just buy butter chicken, mega thx!</span>
                </li>
            </ul> -->
            <!-- <hr> -->
            <label class="item item-input">
                <span class="input-label">Restaurant</span>
                <input type="text" ng-model="newRequestDetail.restaurant">
            </label>
            <label class="item item-input">
                <span class="input-label">Time</span>
                <input type="text" placeholder="e.g. 11:20AM" ng-model="newRequestDetail.time">
            </label>
            <label class="item item-input">
                <span class="input-label">tips</span>
                <input type="text" placeholder="e.g. $5" ng-model="newRequestDetail.tips">
            </label>
            <label class="item item-input">
                <span class="input-label">comments</span>
                <input type="text" placeholder="e.g. details of order" ng-model="newRequestDetail.comment"></input>
                <!-- <textarea placeholder="e.g. details of order" ng-model="newRequestDetail.comment"></textarea> -->
            </label>
            <button class="button button-block button-momo" ng-click="confirmAddRequest ();">
              Confirm
            </button>


            <!-- <div>
                <span  class="ion-ios-checkmark-outline"></span>
                <br/>
                <span>Accept</span>
            </div> -->
        </div>
    </ion-content>
</ion-popover-view>