<ion-popover-view>
    <ion-content>
        <div id="offer-popover">
            <ul class="list">
                <li class="item">
                    <span class="input-label">Address</span>
                    <input type="text">
                </li>
                <li class="item">
                    <span class="input-label">Restaurant</span>
                    <input type="text">
                </li>
                <li class="item">
                    <span class="input-label">Food</span>
                    <input type="text">
                </li>
                <li class="item">
                    <span class="input-label">Price</span>
                    <input type="text">
                </li>
                <li class="item">
                    <span class="input-label">Time</span>
                    <input type="date">
                </li>
            </ul>
            <hr>
            <label class="item item-input">
                <span class="input-label">Fee</span>
                <input type="text" placeholder="$10">
            </label>
            <label class="item item-input">
                <span class="input-label">Time</span>
                <input type="text" placeholder="11:20AM">
            </label>
            <div id="btn-accept">
                <span  class="ion-ios-checkmark-outline"></span>
                <br/>
                <span>Accept</span>
            </div>
        </div>
    </ion-content>
</ion-popover-view>