<ion-popover-view>
    <ion-header-bar> <h1 class="title">My Popover Title</h1> </ion-header-bar>
    <ion-content>
        <div id="offer-popover">
            <ul class="list">
                <li class="item">
                    <span class="ion-ios-location icon-loc"></span>
                    <span>{{currentOffer.location}}</span>
                </li>
                <li class="item">
                    <span class="ion-ios-clock-outline icon-time"></span>
                    <span>{{currentOffer.time}}</span>
                </li>
                <li class="item">
                    <span>{{currentOffer.message}}</span>
                </li>
            </ul>
            <hr>
            <!-- <label class="item item-input">
                <span class="input-label">Fee</span>
                <input type="text" placeholder="$10">
            </label> -->
            <label class="item item-input">
                <span class="input-label">Time</span>
                <input type="text" placeholder="11:20AM">
            </label>
            <div id="btn-accept">
                <span  class="ion-ios-checkmark-outline"></span>
                <br/>
                <span>Accept</span>
            </div>
        </div>
    </ion-content>
</ion-popover-view>