<ion-popover-view>
    <ion-content>
        <div id="offer-popover">
            <ul class="list">
                <li class="item">
                    <span class="ion-ios-location icon-loc"></span>
                    <span>KE, Kent Ridge Road, Singapore 119225</span>
                </li>
                <li class="item">
                    <span class="ion-ios-clock-outline icon-time"></span>
                    <span>11:20AM</span>
                </li>
                <li class="item">
                    <span>Just buy butter chicken, mega thx!</span>
                </li>
            </ul>
            <hr>
            <label class="item item-input">
                <span class="input-label">Fee</span>
                <input type="text" placeholder="$10">
            </label>
            <label class="item item-input">
                <span class="input-label">Time</span>
                <input type="text" placeholder="11:20AM">
            </label>
            <div id="btn-accept">
                <span  class="ion-ios-checkmark-outline"></span>
                <br/>
                <span>Accept</span>
            </div>
        </div>
    </ion-content>
</ion-popover-view>