<ion-view view-title="Explore">
  <ion-content>
    <ion-list>
      <!--<ion-item class="item-remove-animate item-icon-right row" ng-repeat="mission in missions" type="item-text-wrap" href="#/tab/mission/{{chat.id}}">-->
      <ion-item class="item-remove-animate item-icon-right row" ng-repeat="mission in missions" type="item-text-wrap"">

        <div class="row" ng-click="showPopup()">
          <div class="col col-33">
            <img class="avatar" ng-src="{{mission.face}}">
            <br>
            <p>{{mission.name}}</p>
          </div>
          <div class="col row">
              <span class="ion-ios-location icon-loc"></span>
              <span>{{mission.location}}</span>
            <div class="label-time">
              <span class="ion-ios-clock-outline icon-time"></span>
              <span>{{mission.time}}</span>
            </div>
            <p>{{mission.message}}</p>
            <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
          </div>
        </div>

        <!--<ion-option-button class="button-assertive" ng-click="remove(mission)">-->
          <!--Delete-->
        <!--</ion-option-button>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>