/* Empty. Add your own CSS if you like */

/** explore list **/
.avatar {
    position: relative;
    max-width: 50px;
    max-height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    color:white;
}

.icon-loc.ion-ios-location, .icon-time.ion-ios-clock-outline {
    font-size: 20px;
}

.label-time {
    display: inline-block;
    position: absolute;
    left:230px;
}

ion-item > .item-content{
    width: 100%;
}

